{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "react-app",
        "react-app/jest",
        "airbnb/base",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "linebreak-style": "off",
        "indent": [
            "error",
            4
        ],
        "semi": "off",
        "max-len": [
            "error",
            150
        ],
        "react/react-in-jsx-scope": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "react/prop-types": "off",
        "default-param-last": "off",
        "import/prefer-default-export": "off",
        "no-underscore-dangle": "off",
        "no-debugger": "off"
    }
}